---
import MainLayout from "layouts/MainLayout.astro";

export const prerender = true;
---

<!--heading color to  text-[#4a505a] -->
<MainLayout>
    <div class="bg-[#30353E] px-8 text-white py-10 2xl:px-56">
        <div class="flex justify-start items-center gap-8">
            <a href="/" class="text-white inline-block">
                <svg
                    class="w-7 h-7"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
            <div class="text-3xl">Why We Exist ?</div>
        </div>
    </div>
    <div class="grid place-items-center my-10">
        <img
            src="/aboutImg.jpg"
            alt="about-image"
            class="w-full md:w-3/5 h-auto 2xl:w-1/2"
        />
    </div>
    <div class="px-10 md:px-20 my-12 2xl:px-56 text-[#687383]">
        <p class="text-xl italic my-5">
            "For a long time, we felt a massive gap between <span
                class="font-semibold text-[#4a505a]">what's projected</span
            >
            and <span class="font-semibold text-[#4a505a]">what's real</span> in Indian Real Estate."
        </p>
        <p class="my-5">
            Buying a home or investing in any property should have been straightforward.
        </p>
        <p class="my-5">
            Yet in India, the process has become unnecessarily complicated, with
            endless cold calls, collab/sponsored reels, constant FOMO messaging,
            flashy launch events, and conflicting advice.
        </p>
        <p class="my-5">
            Experiencing this noise firsthand sparked the next step: what began
            as simple curiosity on X (Twitter) gradually evolved through the
            <a
                href="https://x.com/PropertyDecoder"
                target="_blank"
                rel="noopener noreferrer"
                title="twitter"
            >
                <span class="font-semibold cursor-pointer text-blue-500"
                    >@PropertyDecoder</span
                >
            </a>
            handle into a mission to decode through the loud, biased narratives that
            often drown out genuine awareness.
        </p>
        <p class="my-5 font-semibold text-[#4a505a]">
            Because the current real estate discourse is mostly driven by
            supply-side incentives. Their job is to sell, not to inform.
        </p>
        <p class="my-5">
            Builders, brokers, consultants, portals, media, and influencers all
            shape narratives to push sales. The result?
        </p>
        <p class="my-5">
            A full-blown echo chamber where hype overshadows clarity, trust is
            hard to find, and the burden is deliberately put on gullible buyers:
            <p class="italic">"You should've known better."</p>
            <p class="italic">"You should've done your research."</p>
        </p>
        <p class="my-5">But where? From whom?</p>
        <p class="my-5 font-semibold text-[#4a505a]">
            Most buyers just bounce from one biased source to another - are then
            left navigating a minefield, where sales driven narratives are
            disguised as “insights.”
        </p>
        <p class="my-5">
            Even being cautious often means choosing between loud voices, not
            reliable ones.
        </p>
        <p class="my-5">
            On top of this, confusion grows when prospective buyers see such
            contrasting realities—on one side, there are numerous people whose
            needs have not just been met but saw wealth created through real
            estate; but on the other, countless people struggle years of delays,
            disputes, and financial setbacks.
        </p>
        <p class="my-5">
            This wide spectrum of experiences makes it difficult for them to
            know what to expect or whom to trust.
        </p>
        <p class="my-5">
            That's why the need arises for a space to decode real estate
            holistically, not speculate on it.
        </p>
        <p class="my-5 font-semibold text-[#4a505a]">
            At Ground Lens, we decode and share:
            <ul class="space-y-2 list-none list-inside">
                <li class="">✔️ Fundamentals behind market trends.</li>
                <li class="">✔️ Hidden risks often brushed under the carpet</li>
                <li class="">✔️ Market distortions that mislead buyers</li>
                <li class="">✔️ Ground reality behind the hype</li>
                <li class="">✔️ Real opportunities for consumers</li>
            </ul>
        </p>
        <p class="my-5">No hype. No collabs. No narrative opium.</p>
        <p class="my-5 font-semibold text-[#4a505a]">
            Just what you actually need to make informed property decisions.
        </p>
        <p class="my-5">
            And this won't be a one-way broadcast. Your feedback is essential to
            help us evolve.
        </p>
        <p class="my-5">
            Real estate isn't just a transaction, but a life-shaping decision
            involving your biggest chunk of hard-earned wealth. It deserves
            honesty, simplicity, and clarity.
        </p>
        <p class="my-5">Here's to decoding real estate, together.</p>
        <p class="my-5 font-bold text-[#4a505a]">Welcome to Ground Lens!</p>
    </div>
</MainLayout>
