---
import MainLayout from "../../layouts/MainLayout.astro";
import { SignIn } from "@clerk/astro/components";

export const prerender = false;
---

<MainLayout title="login">

   <div class="flex justify-center items-center my-10">
      <SignIn signUpUrl="/signup" />
   </div>
</MainLayout>
