---
import MainLayout from "../../layouts/MainLayout.astro";

export const prerender = true;
---

<MainLayout>
    <div class="bg-[#252D47] px-8 text-white py-10 2xl:px-56">
        <div class="flex justify-start items-center gap-5">
            <a href="/" class="text-white inline-block">
                <svg
                    class="w-7 h-7"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
            <div class="text-3xl"> Terms & Conditions</div>
        </div>
    </div>
    <div class="px-16 my-16 text-[#687383] 2xl:px-56">
        <p>
            <span
                >Welcome to Property Decoder! By accessing or using our website,
                you agree to the following Terms of Use. Please read these terms
                carefully to understand your rights and obligations.
            </span>
            <br /><br />
            <span class="font-bold">
                1. General Use of the Website <br />
                <ul class="list-disc pl-8 mt-2">
                    <li>
                        <span
                            >This website provides infographics, articles,
                            videos, motion graphics, visuals, and designs, and
                            other resources on real estate and various general
                            topics for informational and educational purposes.
                        </span><br />
                    </li>
                    <li>
                        <span
                            >The content on this website is not intended as
                            professional advice. Users should seek specific
                            guidance when needed.
                        </span>
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold">
                2. Intellectual Property Rights
                <ul class="list-disc pl-8 mt-2 font-normal space-y-2">
                    <li>
                        <span>
                            All content available on the Property Decoder
                            website, including but not limited to infographics,
                            articles, images, text, motion graphics, videos, and
                            other materials, is the exclusive property of
                            Property Decoder unless otherwise stated.
                        </span><br />
                    </li>
                    <li>
                        <span class="font-semibold">
                            You are strictly prohibited from:
                            <ul class="list-[upper-roman] font-normal pl-4">
                                <li>
                                    Copying, reproducing, modifying,
                                    distributing, or transmitting the content
                                    for commercial or public purposes without
                                    prior written consent
                                </li>
                                <li>
                                    Using the content in any manner that
                                    misrepresents its original intent or
                                    purpose.
                                </li>
                            </ul>
                        </span>
                    </li>
                    <li>
                        <span class="font-bold"
                            >Permitted Sharing:
                            <br />
                            <span class="font-normal">
                                We encourage users to share our content
                                responsibly on their personal social media
                                accounts, provided that:
                            </span>
                            <br />
                            <ul
                                class="list-disc font-normal pl-4 mt-1 space-y-1"
                            >
                                <li>
                                    Proper credit is given to Property Decoder
                                    by tagging or linking back to the original
                                    website or post
                                </li>
                                <li>
                                    The content is not altered, edited, or used
                                    out of context
                                </li>
                                <li>
                                    The sharing complies with the terms and
                                    conditions of the respective social media
                                    platform
                                </li>
                            </ul>
                        </span>
                    </li>
                    <li>
                        Any misuse of our intellectual property, including
                        unauthorized use, reproduction, or distribution, may
                        result in legal action.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold">
                3. Use of Quotes and Third-Party Content
                <ul class="font-normal pl-8 list-disc space-y-2 mt-2">
                    <li>
                        Our website may feature quotes or information from
                        publicly available sources, attributed to their
                        respective authors or publications
                    </li>
                    <li>
                        References to articles or external information are
                        properly credited
                    </li>
                    <li>
                        If you believe any content violates copyright or
                        attribution rights, please notify us promptly
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold space-y-2">
                4. User Conduct <br />
                <span class="font-normal">
                    By using this website, you agree not to:
                </span>
                <ul class="font-normal list-disc pl-8 space-y-1">
                    <li>Use the content for illegal activities or purposes.</li>
                    <li>Disrupt the operation or security of the website</li>
                    <li>
                        Claim ownership or misrepresent the content shared on
                        the website.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold">
                5. Disclaimer
                <ul class="font-normal list-disc pl-8">
                    <li>
                        The content provided is for informational purposes only.
                        While we strive for accuracy, we do not guarantee the
                        completeness or reliability of the information.
                    </li>
                    <li>
                        Property Decoder is not responsible for any actions or
                        decisions made based on our content.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >6. Third-Party Links
                <ul class="font-normal pl-8 list-disc space-y-2">
                    <li>
                        The website may include links to third-party websites
                        for reference or additional information.
                    </li>
                    <li>
                        We do not endorse or assume responsibility for the
                        content, practices, or policies of these third-party
                        sites.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >7. Content Variation
                <ul class="font-normal list-disc pl-8 space-y-2">
                    <li>
                        While the website primarily focuses on real
                        estate-related topics, we may also share infographics
                        and articles on general subjects of interest.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >8. Changes to Terms of Use
                <ul class="font-normal list-disc pl-8 space-y-2">
                    <li>
                        Property Decoder reserves the right to update these
                        Terms of Use at any time. Changes will be posted on this
                        page with a revised effective date
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >9. Contact Information
                <br />
                <span class="font-normal">
                    For questions or concerns about these Terms of Use, please
                    contact us:
                </span>
                <br />
                <span class="font-normal">
                    Email :
                    <a
                        href="mailto:info@propertydecoder.com"
                        target="_blank"
                        title="mailto:info@propertydecoder.com"
                    >
                        info@propertydecoder.com
                    </a>
                </span>
            </span>
           
        </p>
    </div>
</MainLayout>
