---
import MainLayout from "../../layouts/MainLayout.astro";
import InfographicCard from "../../components/InfographicCard.astro";
import SearchForm from "../../components/SearchForm.astro";
import { getCollection } from "astro:content";
import { getAllBlogs } from "../../services/api";

export const prerender = false;
const query = Astro.url.searchParams.get("query");

const allBlogArti = await getCollection("infographics");
const allBlogArticles = await getAllBlogs();


// Filter articles based on query
const searchResults = allBlogArticles.filter((article: any) => {
	const titleMatch = article.title
		.toLowerCase()
		.includes(query?.toLowerCase());

	const tagsMatch = article.tags.includes(query?.toLowerCase());

	const slugMatch = article.slug.toLowerCase().includes(query?.toLowerCase());

	return titleMatch || slugMatch || tagsMatch;
});

const newresult = allBlogArti.filter((arti) => {
	if (arti.body.includes(query!)){
		return arti.slug;
	};
});

---

<MainLayout title="Search Results">
	<div class="bg-[#252D47] px-8 text-white py-10 2xl:px-56">
		<div class="flex justify-start items-center gap-5">
			<a href="/#infographics" class="text-white inline-block">
				<svg
					class="w-7 h-7"
					viewBox="0 0 56 56"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
						stroke="white"
						stroke-width="4"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
			</a>
			<div class="text-3xl">Results For <strong>{query}</strong></div>
		</div>
	</div>
	<br />

	<div class="px-8 2xl:px-56 my-10">
		<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
			<!-- {
				searchResults.map((article: any) => (
					<ArticleCard article={article} />
				))
			} -->
		</div>
	</div>
</MainLayout>
