---
import MainLayout from "../layouts/MainLayout.astro";

export const prerender = true;
---

<MainLayout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-items-center gap-7">
    <img src="/error-404.png" alt="404" height={250} width={250} class="mt-10" />
    <h1 class="text-5xl">Page Not Found</h1>
    <p class="text-2xl mb-10">
      Sorry, we couldn't find the page you were looking for.
    </p>
    <a
      href="/"
      class="inline-block bg-gray-100 p-2 mb-6 hover:bg-gray hover:text-white hover:rounded-lg"
      >Go Back Home</a
    >
  </div>
</MainLayout>
