---
import { getCollection } from "astro:content";
import CaseStudyCard from "components/CaseStudyCard.astro";
import MotionGraphicCard from "components/MotionGraphicCard.astro";
import HorizontalRuleHeading from "../components/HorizontalRuleHeading.astro";
import InfographicCard from "../components/InfographicCard.astro";
import Roller from "../components/Roller.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";
import MainLayout from "../layouts/MainLayout.astro";

export const prerender = true;
//  In the sorted Or
const infographics = (await getCollection("infographics")).sort(
	(a, b) =>
		new Date(b.data.createdAt).getTime() -
		new Date(a.data.createdAt).getTime(),
);
const caseStudy = (await getCollection("caseStudy")).sort(
	(a, b) =>
		new Date(b.data.createdAt).getDate() -
		new Date(a.data.createdAt).getDate(),
);
const motionGraphics = (await getCollection("motionGraphics")).sort(
	(a, b) =>
		new Date(b.data.createdAt).getDate() -
		new Date(a.data.createdAt).getDate(),
);
---

<MainLayout>
	<div
		class="relative bg-center bg-cover bg-no-repeat h-[660px] mb-[1100px] sm:mb-44 lg:mb-64 2xl:mb-80 bg-[url(/bg-image.png)] size-full"
	>
		<div
			class="absolute inset-0 bg-gradient-to-b from-[#252D47]/[85%] via-[#252D47]/[95%] to-[#252D47]"
			id="backgroundCover"
		>
		</div>
		<div
			class="absolute flex flex-col justify-center top-[24%] sm:top-[20%] w-full 2xl:px-56"
			id="landingPageText&Roller"
		>
			<div
				class="flex flex-col text-[32px] sm:text-3xl md:text-4xl lg:text-5xl text-white items-center"
			>
				<div class="font-bold tracking-wider text-center">Decoding</div>
				<Roller />
			</div>
			<!-- <div
				class="text-center w-full flex justify-center mt-6 animate-bounce"
			>
				<div id="cta" class="cursor-pointer">
					<img
						src="/ctaarrow.png"
						alt="arrow"
						class="w-12 h-12 sm:w-14 sm:h-14 lg:w-full lg:h-full"
					/>
				</div>
			</div> -->
		</div>
		<div
			class="absolute px-2 grid grid-cols-1 sm:grid-cols-3 gap-x-4 gap-y-4 sm:px-8 2xl:px-56 top-[65%] sm:top-[75%] md:top-[70%] lg:top-[65%] z-0"
			id="UspCards"
		>
			<div
				class="bg-white shadow-lg rounded-lg p-4 w-11/12 h-full sm:w-full flex flex-col mx-auto gap-3"
			>
				<h2 class="text-lg font-bold text-gray-800 text-center">
					SIMPLIFYING
				</h2>
				<p class="text-[#72839c] text-center mt-1 text-base mb-9">
					The complex world of Indian real-estate
				</p>
				<img src="/simplifying-ill.png" class="w-auto max-h-[300px]" />
			</div>
			<div
				class="bg-white shadow-lg rounded-lg p-4 w-11/12 h-full sm:w-full flex flex-col mx-auto"
			>
				<h2 class="text-lg font-bold text-gray-800 text-center">
					REDEFINING
				</h2>
				<p class="text-[#72839c] text-center mt-1 text-base mb-2">
					The fundamentals & data-driven actionable insights
				</p>
				<img src="/redefining-ill.png" class="w-auto max-h-[300px]" />
			</div>
			<div
				class="bg-white shadow-lg rounded-lg p-4 w-11/12 h-full sm:w-full flex flex-col mx-auto"
			>
				<h2 class="text-lg font-bold text-gray-800 text-center">
					UNFOLDING
				</h2>
				<p class="text-[#72839c] text-center mt-1 text-base mb-2">
					The growth opportunities and underlying risks
				</p>
				<img src="/unfolding-ill.png" class="w-auto max-h-[300px]" />
			</div>
		</div>
	</div>

	<div class="py-4 px-4 mb-14 bg-[#252D47] text-white sm:px-8 2xl:px-56">
		<div class="px-24 sm:hidden">
			<hr class="border border-x-[#9aa6b8]" />
		</div>
		<div
			class="sm:border-x-[4px] sm:border-x-[#9aa6b8] py-5 text-3xl sm:text-5xl capitalize 2xl:text-[50px] text-center"
		>
			real estate analysis made simple
		</div>
		<div class="px-24 sm:hidden">
			<hr class="border border-x-[#9aa6b8]" />
		</div>
	</div>

	<!-- Infographics Section -->
	<div class="px-4 sm:px-8 2xl:px-56 mb-20" id="infographics">
		<HorizontalRuleHeading
			title={"Infographics"}
			url="/infographics"
			imageUrl="/infographicIcon.png"
			imageClass="w-auto h-10"
		/>
		<div
			class="grid grid-cols-1 gap-x-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mt-10 gap-y-14"
		>
			{
				infographics
					.slice(0, HOMEPAGE_ARTICLE_LIMIT)
					.map((article) => <InfographicCard infographic={article} />)
			}
		</div>
	</div>

	<!-- Case Study Section-->
	<div class="px-4 sm:px-8 2xl:px-56 mb-20" id="caseStudy">
		<HorizontalRuleHeading
			title={"Case Studies"}
			url="/caseStudy"
			imageUrl="/storiesIcon.png"
			imageClass="w-auto h-8"
		/>
		<div class="grid grid-cols-1 gap-x-2 gap-y-6 lg:grid-cols-2 mt-10">
			{
				caseStudy
					.slice(0, HOMEPAGE_ARTICLE_LIMIT)
					.map((article) => <CaseStudyCard caseStudy={article} />)
			}
		</div>
	</div>

	<!-- Shorts Section -->
	<div class="px-4 sm:px-8 2xl:px-56 mb-20" id="Shorts">
		<HorizontalRuleHeading
			title={"Shorts"}
			url="/shorts"
			imageUrl="/shortsIcon.png"
			imageClass="w-auto h-9"
		/>

		<div
			class="grid grid-cols-1 gap-x-8 gap-y-14 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mt-10"
		>
			{
				motionGraphics
					.slice(0, HOMEPAGE_ARTICLE_LIMIT)
					.map((article) => (
						<MotionGraphicCard motiongraphic={article} />
					))
			}
		</div>
	</div>
</MainLayout>

<script is:inline>
	document.getElementById("cta")?.addEventListener("click", (event) => {
		event.preventDefault();
		document
			.getElementById("infographics")
			?.scrollIntoView({ behavior: "smooth" });
	});
</script>
