---
import MainLayout from "../../../layouts/MainLayout.astro";
import ArticleCard from "../../../components/ArticleCard.astro";
import { capitalize } from "../../../utils";
import { getAllBlogs } from "../../../services/api";

type Blog =  {
			type: string,
			slug: string,
			title: string,
			author: string,
			tags: string[],
			titleImage: string,
			_id: string,
			createdAt: string
};
type BlogTag = {params: {tag: string}, props: Blog[]};

// const allBlogArticles = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
export async function getStaticPaths(): Promise<BlogTag[]> {
	const allBlogArticles = await getAllBlogs();
	const tags = allBlogArticles.reduce((reduced: any[], article: { tags: any; }) => [...reduced, ...article.tags], []);
	const uniqueTags = [...new Set(tags)];
	
	return uniqueTags.map((tag: string): BlogTag => {
			const articlesOfTag : Blog[] = allBlogArticles.filter((article: Blog )=> article.tags.includes(tag));
			return { params: { tag: tag }, props: articlesOfTag };
		},
	);
}
const { tag } = Astro.params;
const article = Astro.props;

const tagArticles  = Object.values(article)
console.log(tagArticles);

if (tag === undefined) {
	throw new Error("Tag is required");
}
---

<MainLayout title={`${tag}`}>
	<div class="bg-[#252D47] px-8 text-white py-10 2xl:px-56">
		<div class="flex justify-start items-center gap-5">
			<a href={"/#infographics"} class="text-white inline-block">
				<svg
					class="w-7 h-7"
					viewBox="0 0 56 56"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
						stroke="white"
						stroke-width="4"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
			</a>
			<div class="text-3xl">#{capitalize(tag)}</div>
		</div>
	</div>
	<div class="px-8 2xl:px-56 my-10">
		<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
			{
				tagArticles.map((article: any) => (
					<ArticleCard article={article} />
				))
			}
		</div>
	</div>
</MainLayout>
