---
import MainLayout from "../../layouts/MainLayout.astro";
export const prerender = true;
---

<MainLayout title={"Privacy-policy"}>
    <div class="bg-[#252D47] px-8 text-white py-10 2xl:px-56">
        <div class="flex justify-start items-center gap-5">
            <a href="/" class="text-white inline-block">
                <svg
                    class="w-7 h-7"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
            <div class="text-3xl">Privacy Policies</div>
        </div>
    </div>
    <div class="px-16 my-16 text-[#687383] 2xl:px-56">
        <p>
            <span
                >At Property Decoder, we are committed to protecting your
                privacy. This Privacy Policy outlines how we collect, use, and
                safeguard your personal data when you access our website,
                interact with our content, or use our services. By using our
                website, you agree to the collection and use of information as
                described in this policy.
            </span>
            <br /><br />
            <span class="font-bold">
                1. Information We Collect <br />
                <span class="font-normal">
                    We may collect the following types of information:
                </span>
                <ul class="list-disc pl-8 mt-2">
                    <li>
                        Personal Information: Name, email address, phone number,
                        and other contact details when you subscribe to
                        newsletters, request information, or contact us
                        directly.
                    </li>
                    <li>
                        Usage Data: Information about your device, browser type,
                        IP address, pages visited, and the duration of your
                        visit to help us understand user behavior and improve
                        website performance.
                    </li>
                    <li>
                        Social Media Engagement: Information you share with us
                        through social media platforms like Instagram, Facebook,
                        LinkedIn, etc., when interacting with our content.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold">
                2. How We Use Your Information <br />
                <span class="font-normal">
                    We may use your information for the following purposes:
                </span>
                <ul class="list-disc pl-8 mt-2 font-normal space-y-2">
                    <li>
                        To provide and improve our content, including
                        infographics, motion graphics, videos, articles, and
                        resources on real estate and other general topics.
                    </li>
                    <li>To respond to your queries, requests, or feedback.</li>
                    <li>
                        To send you updates, newsletters, or promotional
                        communications (if you've opted-in).
                    </li>
                    <li>
                        To analyze website traffic and user behavior to enhance
                        the user experience.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold">
                3. Sharing and Disclosing Information
                <br />
                <span class="font-normal"> 
                    We do not sell or rent your personal data. However, we may share
                information with:
                </span>
                <ul class="font-normal pl-8 list-disc space-y-2 mt-2">
                    <li>
                        Service Providers: Trusted third parties that assist us
                        in maintaining the website, processing data, or
                        delivering content.
                    </li>
                    <li>
                        Legal Requirements: If required by law, we may disclose
                        your information to comply with legal obligations or to
                        protect our rights.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold space-y-2">
                4. Cookies and Tracking Technologies <br />
                <span class="font-normal">
                    We use cookies and similar tracking technologies to enhance
                    your browsing experience. These technologies help us analyze
                    website traffic, remember user preferences, and improve
                    functionality. You can manage or disable cookies through
                    your browser settings, but this may affect the website’s
                    performance.
                </span>
            </span>
            <br />
            <br />
            <span class="font-bold">
                5. Security of Your Information
                <br />
                <span class="font-normal">
                    We take reasonable measures to protect your personal data
                    from unauthorized access, disclosure, alteration, or
                    destruction. However, no method of online data transmission
                    is completely secure, and we cannot guarantee 100% security.
                </span>
            </span>
            <br />
            <br />
            <span class="font-bold"
                >6. Content Ownership and Use
                <ul class="font-normal pl-8 list-disc space-y-2">
                    <li>
                        All infographics, motion graphics, videos, articles, and
                        other content on this website are created by Property
                        Decoder and are protected by copyright laws.
                    </li>
                    <li>
                        We may reference or use publicly available information,
                        including quotes and articles from third-party sources,
                        and we provide proper attribution.
                    </li>
                    <li>
                        Unauthorized use or reproduction of our content is
                        prohibited without explicit permission.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >7. Social Media Content
                <ul class="font-normal list-disc pl-8 space-y-2">
                    <li>
                        Our content is shared across various social media
                        platforms. Any engagement with our content on these
                        platforms is subject to the respective platform’s
                        privacy policies.
                    </li>
                    <li>
                        We do not control the data practices of third-party
                        social media sites.
                    </li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >8. Your Rights You have the right to:
                <ul class="font-normal list-disc pl-8 space-y-2">
                    <li>Access, update, or delete your personal data.</li>
                    <li>
                        Withdraw consent for data processing, where applicable.
                    </li>
                    <li>Opt-out of promotional communications at any time.</li>
                </ul>
            </span>
            <br />
            <span class="font-bold"
                >9. Updates to This Privacy Policy
                <br />
                <span class="font-normal">
                    We may update this Privacy Policy periodically to reflect
                    changes in our practices or for legal reasons. Any updates
                    will be posted on this page, and the effective date will be
                    revised.
                </span>
                <br />
                <span class="font-normal">
                    Email :
                    <a
                        href="mailto:info@propertydecoder.com"
                        target="_blank"
                        title="mailto:info@propertydecoder.com"
                    >
                        info@propertydecoder.com
                    </a>
                </span>
            </span>
            <br />
            <br />
            <span class="font-bold"
                >10. Contact Us
                <br />
                <span class="font-normal">
                    If you have any questions or concerns about this Privacy
                    Policy or our data practices, please contact us:
                </span>
                <br />
                <span class="font-normal">
                    Email :
                    <a
                        href="mailto:info@propertydecoder.com"
                        target="_blank"
                        title="mailto:info@propertydecoder.com"
                    >
                        info@propertydecoder.com
                    </a>
                </span>
            </span>
            <br />
            <br />
            <span>Thank you for trusting Property Decoder.</span>
        </p>
    </div>
</MainLayout>
