---
import { formatDate } from "../utils";
// import Tags from "./Tags.astro";

const { article } = Astro.props;
---

<div
	class="flex flex-col justify-center items-stretch bg-white rounded-lg overflow-hidden shadow-2xl shadow-gray-light text-seconday1 w-full z-0"
>
	<a href={"/articles/" + article.slug}>
		<img
			src={article.titleImage}
			alt="Article Image"
			class="w-full h-56 object-cover hover:opacity-75 transition duration-300 ease-in-out"
		/>
	</a>
	<div class="px-4 py-4 flex flex-col">
		<h2 class="text-base font-semibold mb-10 tracking-wider h-9">
			<a href={"/articles/" + article.slug}> {article.title} </a>
		</h2>
		<div class="flex justify-between font-medium text-sm text-gray">
			<div class="">
				{article.author}
			</div>
			<div class="">
				{formatDate(article.createdAt)}
			</div>
		</div>
	</div>
</div>
