---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils";

export const prerender = true;

interface Props {
    caseStudy: CollectionEntry<"caseStudy">;
}
const { caseStudy } = Astro.props as Props;
---

<div class="">
    <a href={"/caseStudy/" + caseStudy.slug} class="inline-block">
        <div
            class="flex flex-col gap-5 sm:flex-row rounded-2xl shadow-[0px_10.304px_38.821px_0px_rgba(19,21,157,0.10)] p-4 sm:p-0 sm:gap-0 w-full h-full"
        >
            <div class="flex justify-center sm:flex-none">
                <img
                    src={caseStudy.data.titleImage}
                    alt="Article Image"
                    class="w-56 h-full sm:w-52 sm:h-full object-cover object-left-top hover:opacity-75 transition duration-300 ease-in-out rounded-2xl"
                />
            </div>
            <div
                class="flex flex-col gap-5 mb-3 h-auto justify-between sm:px-4 sm:py-6 w-full"
            >
                <div class="sm:space-y-1">
                    <div class="font-semibold tracking-wide text-lg">
                        {caseStudy.data.title}
                    </div>
                    <div class="text-sm text-gray mt-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Soluta nostrum nesciunt voluptates voluptat ...
                    </div>
                </div>
                <div
                    class="flex justify-between items-center text-sm text-gray"
                >
                    <div class="">{formatDate(caseStudy.data.createdAt)}</div>
                    <div class="underline text-[#0f5fc3]">Read it</div>
                </div>
            </div>
        </div>
    </a>
</div>
