<!-- <div class="relative">
    <div class="inline-flex items-center justify-center w-full">
        <hr class="w-full h-px my-8 bg-gray-200 border-1" />
        <span
            class="absolute px-2 font-medium text-bold -translate-x-1/2 bg-gray-50 left-1/2"
            >All Articles</span
        >
    </div> -->

    
<div class="relative py-4">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-b border-current"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-default-bg px-2 text-sm text-gray-500">All Articles</span>
    </div>
  </div>
    <!-- <a href="/all/" class="absolute px-3 justify-content: flex-end">
            More
         <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.835 10.813V5.289L24 12l-7.165 6.711v-5.524H0v-2.374h16.835z"></path>
        </svg> 
    </a> -->
</div>
