---
import { formatDate } from "../utils";
import type { CollectionEntry } from "astro:content";

export const prerender = true;

interface Props {
	infographic: CollectionEntry<"infographics">;
}
const { infographic } = Astro.props as Props;
---

<div
	class="flex flex-col justify-center items-start rounded-lg overflow-hidden shadow-2xl shadow-gray-light text-seconday1 w-full z-0  h-full"
>
	<a href={"/infographics/" + infographic.slug} class="h-auto">
		<img
			src={infographic.data.titleImage}
			alt="Article Image"
			class="w-[600px] h-[250px] hover:opacity-75 transition duration-300 ease-in-out object-cover object-left-top"
		/>
	</a>
	<div class="px-4 flex flex-col py-4 gap-2 w-full h-full">
		<div class="text-sm text-gray">
			{formatDate(infographic.data.createdAt)}
		</div>
		<h2 class="text-lg font-semibold tracking-wide">
			<a href={"/infographics/" + infographic.slug}>
				{infographic.data.title}
			</a>
		</h2>
	</div>
</div>
