---
// import { Image } from "astro:assets";
import SearchForm from "./SearchForm.astro";
import DropDown from "./dropdown";
---

<nav class="bg-default-bg text-secondary2 border-b border-b-gray-light">
	<div
		class="flex items-center justify-between py-4 px-4 2xl:px-56"
	>
		<a href="/" class="flex items-center gap-[10px]">
			<img src="/logo.png" alt="logo" class="w-auto h-12" />
			<div class="text-base sm:text-2xl font-bold">
				Property
				<span class="text-[#72839c]"> Decoder </span>
			</div>
			<!-- <span class="text-md self-center sm:text-2xl font-semibold whitespace-nowrap" -->
			<!-- ><span class="text-gray">Tech</span>People</span -->
			<!-- > -->
		</a>
		<div class="flex grow items-center justify-end gap-4 z-10">
			<SearchForm  />
			<DropDown client:load />
		</div>
	</div>
</nav>
