<form id="search-form" class="" action="/search">
	<label for="search-input" class="sr-only">Search</label>
	<div class="relative flex items-center w-40 sm:w-48 md:w-56">
		<input
			type="text"
			id="query"
			name="query"
			class="bg-gray-50 border border-gray-light focus:outline-none focus:ring-2 focus:ring-gray focus:border-transparent text-gray-900 text-sm rounded-lg block w-full p-1.5 sm:py-2 sm:pr-9"
			placeholder="Search articles..."
			required
		/>
		<button
			type="submit"
			class="p-[7px] text-black rounded-md absolute right-1 bg-white"
		>
			<svg
				class="w-4 h-4"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 20 20"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
			</svg>
			<span class="sr-only">Search</span>
		</button>
	</div>
</form>

<style>
	@media (max-width: 500px) {
		#search-form {
			display: none;
		}
	}
</style>
