---
import { capitalize } from "../utils";

interface Props {
  tags: string[];
  source: "infographics" | "caseStudy";
}

const { tags, source } = Astro.props as Props;
---

<div class="flex gap-2 flex-wrap">
  RELATED TOPICS:
  {
    tags.map((tag: string, index: number) => (
      <span class="px-2 py-1 text-blue-500 text-sm hover:opacity-90 font-medium">
        <a href={`/${source}/tag/` + tag}>#{capitalize(tag)}</a>
      </span>
    ))
  }
</div>
