---
import MainLayout from "../../layouts/MainLayout.astro";
// import InfographicCard from "../../components/InfographicCard.astro";
// import SearchForm from "../../components/SearchForm.astro";
import { getCollection } from "astro:content";
import Tabs from "components/Tabs.astro";

export const prerender = false;
const query = Astro.url.searchParams.get("query");

const infographics = await getCollection("infographics", ({ body, data }) => {
    const titleMatch = query
        ? data.title.toLowerCase().includes(query?.toLowerCase())
        : false;
    const tagsMatch =
        query &&
        data.tags.filter((tag) => tag.toLowerCase() === query.toLowerCase())
            .length;

    const bodyContentMatch = query
        ? body.toLowerCase().includes(query.toLowerCase())
        : false;
    return titleMatch || tagsMatch || bodyContentMatch;
});

const caseStudy = await getCollection("caseStudy", ({ body, data }) => {
    const titleMatch = query
        ? data.title.toLowerCase().includes(query?.toLowerCase())
        : false;
    const tagsMatch =
        query &&
        data.tags.filter((tag) => tag.toLowerCase() === query.toLowerCase())
            .length;

    const bodyContentMatch = query
        ? body.toLowerCase().includes(query.toLowerCase())
        : false;
    return titleMatch || tagsMatch || bodyContentMatch;
});
---

<MainLayout title="Search Results">
    <div class="bg-[#30353E] px-8 text-white py-10 2xl:px-56">
        <div class="flex justify-start items-center gap-5">
            <a href="/#infographics" class="text-white inline-block">
                <svg
                    class="w-7 h-7"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M28.0003 11.6665L11.667 27.9998M11.667 27.9998L28.0003 44.3332M11.667 27.9998L44.3337 27.9998"
                        stroke="white"
                        stroke-width="4"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
            <div class="text-3xl">Results For <strong>{query}</strong></div>
        </div>
    </div>
    <br />

    <div class="px-8 2xl:px-56 my-10">
        <Tabs
            infographics={infographics}
            caseStudy={caseStudy}
            initialTab={infographics.length > caseStudy.length
                ? "infographic"
                : "caseStudy"}
        />
    </div>
</MainLayout>
