---
import MainLayout from "../../layouts/MainLayout.astro";
import { SignUp } from "@clerk/astro/components";

export const prerender = false;
---

<MainLayout title="signup">
    <div class="flex justify-center items-center my-10">
        <SignUp signInUrl="/login"/>
    </div>
</MainLayout>
